* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  
}

.winning {
  background-color: rgba(0, 0, 0, 1);
  height: 20%;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 2s ease-in;
  display: none;
  /* justify-content:  */
}

.winning h2 {
  /* margin-top: 15px; */
  margin:0;
  font-size: 60px;
  
  /* text-align: center; */
}

.winning p {
  margin:0;
  font-size: 20px;
}



.start-menu {
  /* background-color: black; */
  position: absolute;
  height: 100vh;
  width: 100vw;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-transition {
  background-color: rgba(0, 0, 0, 0.8);
  height: 10%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: 1s ease-in;
}

.stage-animation{
  transform: translateX(1000px);
}

.stage-transition .pacman-gif img {
  height: 100%;
  width: auto;
}

.stage-transition .pacman-gif{
  height: 50%;
  width: 25%
}

.stage-transition h2{
  /* flex: 2; */
  font-size: 40px;

}

.start-menu .box{

  background-color: rgba(0, 0, 0, 0.8);
  height: 50%;
  width: 580px;
  border-radius: 10px;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 1s;
  /* display: none; */
}

.start-menu .select-option{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* display: none; */
  
}

.start-menu .difficulty{
  height: 100%;
  width: 100%;
  display: none;
}

.start-menu .banner {
  font-size: 60px;

}

.start-menu .select-option ul {
  font-size: 35px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.start-menu .select-option li {
  display: flex;
  margin: 10px;
  /* max-width: 550px; */
  width: 100%;
  /* flex-grow: 1; */
}

.start-menu .select-option li p{
  margin-left: 5%;
}

.start-menu .select-option li span{
  margin-left: 5%;
  flex-basis: 10%;
  transition: 2s;
}


.start-menu .select-option .selector {
  /* background-color: yellow; */
  background-image: url("../images/pacman.png");
  background-repeat: no-repeat;
  background-size: contain;
  

}

.start-menu .difficulty ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-size: 30px;
  flex: 1;
}

.start-menu .difficulty li{
  border: wheat transparent 2px;
  padding: 5px;
}

.start-menu .difficulty li.selected{
  border: wheat solid 2px;
}

.game-over.overlay {
  opacity: 0;
  background-color: grey;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  transition: 3s;
  
}

.game-over.text{
  font-size: 50px;
  position: absolute;
  top: 0;
  margin: 0;
  color: white;
  transform: translateY(-60px);
  display: none;
  transition: 15s ease;
  text-align: center;
}

.game-over-msg {
  font-size: 20px;
  display: none;
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

.fade-in {
  opacity: 0.5;
  
}

.slow-text {
  transform: translateY(300px);
  
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game {
  max-height: 600px;
  max-width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  color: rgb(65, 40, 40);
  width: 100%;
  flex-grow: 1;
}


.music {
  max-width: 600px;
  max-height: 40px;
  width: 100%;
  flex-grow: 1;
  color: wheat;
  background-color: rgb(75, 75, 75, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  transition: 1s;
  opacity: 0;
}
.stats {
  max-width: 600px;
  max-height: 50px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  margin-top: 10px;
  /* background-color: wheat; */
}

.stats ul.lives {
  color: wheat;
  list-style-type: none;
  display: flex;
  height: 80%;
  margin: 0;
  padding: 0;
  width: 20%;
  align-content : center;
  
}

.stats li {
  height: 80%;
  flex-grow: 1;
}

.stats p{
  
  font-size: 20px;
  margin: 0;
}



.game > div {
  height: 5%;
  width: 5%;
  font-size: 10px;
  text-align: center;
  /* margin-top: 10px; */
}


.pacman {
  background-image: url("../images/pacman.gif");
  background-repeat: no-repeat;
  background-size: contain;

}

.wall {
  background-color: rgb(75, 75, 75);
  border: 1px solid black;
}

.pacman-div {
  height: 100%;
  width: 100%;
}

.red-guy {
  background-image: url("../images/red-guy.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.pinky {
  background-image: url("../images/pinky.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.yellow {
  background-image: url("../images/yellow.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.weak-ghost {
  background-image: url("../images/weak-ghost.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.death {
  background-image: url("../images/died.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.dot {
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.pill {
  background-image: url("../images/powerpill.gif ");
  background-repeat: no-repeat;
  background-size: cover;
}

.ghost-kill{
  background-image: url("../images/pew.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pacman-life {
  background-image: url("../images/pacman.png");
  background-repeat: no-repeat;
  background-size: contain;
}
